* {
  background-color: #282c34;
  color: white;
}
.App {
  display: flex;
  justify-content: center;
}
.container {
  padding-top: 2rem;
}
.recharts-wrapper {
  cursor: crosshair !important;
}

table {
  display: flex;
  padding-left: 5rem;
}
th {
  padding: 1rem;
  cursor: pointer;
  border-right:  3px solid white;
  border-width: 2px;
  line-height: 0px;
}
.selected {
  text-decoration: underline;
}

.tooltip {
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  box-shadow: 8px 7px 12px 2px rgb(0 0 0 / 50%);
  text-align: center;
  width: 100%;
  opacity: 80%;
}
